* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 180px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.logo:hover {
  transform: scale(1.1);
  filter: invert(0.15);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    #86b92dda 0%,
    #86c9287c 50%,
    #73ad2200 120%
  );
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 2px;
  margin: 2px;
}

.opcoes-de-cima {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  list-style-type: none;
  padding: 10px 0 10px 0;
}
.opcao-de-cima {
  border-radius: 100px;
  padding: 4px 8px 4px 8px;
  transition: 0.2s ease-in-out;
}
.opcao-de-cima:hover {
  background-color: rgba(129, 202, 70, 0.906);
  transform: scale(1.05);

  font-weight: 500;
  cursor: pointer;
}

input {
  width: 240px;
  height: 36px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
}

.input {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.953);
  border-radius: 100px;
  padding: 0 14px;
  transition: 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.input:focus-within {
  box-shadow: 0 0 10px #86b92dda;
}

.input i {
  margin-right: 8px;
  color: #555;
}

i {
  margin-right: 6px;
}

body {
  background-color: #f1f1f1;
}

.container-meio {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  background-color: #4c4c4c;
}

.meio-esquerda,
.meio-direita {
  flex: unset;
}
.opcoes {
  list-style: none;
  align-items: start;
  display: flex;
  gap: 40px;
  justify-content: center;
  background-color: #555;
  padding: 24px 0px;
  background-color: transparent;

  font-size: large;
  color: white;
  margin: 0;
}

.opcoes li {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.opcoes li i {
  font-size: 14px;
  color: #86c9287c;
  transition: 0.5s ease-in-out;
}

.opcoes li:hover {
  transform: scale(1.05);
  color: #86b92dda;

  i {
    transform: rotateY(180deg);

    color: #f6f6f6;
  }
}

.zx10r {
  padding: 6px;
}

/*-----segunda parte (preta)-----*/

.meio {
  background-color: rgba(0, 0, 0, 0.902);
  font-size: small;
  display: flex;
  width: 100%;
  min-height: 40px;
  color: #86b92dda;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 650;
  padding: 8px;
}

.compre-agora {
  display: inline-block;
  color: #b1de63da;
  transition: 0.2s ease;
}

.compre-agora:hover {
  transform: scale(0.99);
  text-decoration: underline;
  cursor: pointer;
}

.linha-verde {
  height: 1.5px;
  background-color: #86b92dda;
  filter: blur(1.5px);
}

/*------IMAGEM E AFINS------*/

.imagem-moto {
  width: 100%;
  height: 620px;
  object-fit: cover;
  display: block;
  object-position: center 20%;
}

.secao-imagem {
  position: relative;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;

  border: none;

  color: white;
  background-color: transparent;
  font-size: 2X0px;
  cursor: pointer;
  font-size: 24px;
  transition: 0.1s ease-in-out;
}
.esquerda {
  left: 20px;
}
.direita {
  right: 20px;
}

.seta:hover {
  color: #86c928af;
  transform: translateY(-50%) scale(1.15);
}
/*---- ABAIXO DA IMAGEM ----*/

.ofertas {
  font-size: 24px;
  padding: 4px 10px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secao-imagem {
  position: relative;
}

.degrade-final {
  width: 100%;
  height: 20px;

  background: linear-gradient(
    to bottom,
    #86c928c3 0%,
    #86c92859 60%,
    #86c92800 100%
  );
}

.ofertas2 {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin: 0;
}
.ofertas2::after {
  content: "";
  display: block;
  flex: 1;
  background-color: #86c92894;
  height: 2px;
  margin-left: 12px;
  filter: blur(1.5px);
  border-radius: 600px;
}

/* imagens de baixo */

.subimagem-pai {
  align-items: stretch;
  display: flex;
  margin: 0 150px;
  gap: 40px;
  padding: 14px;
  margin-top: 30px;
}

.subimagem {
  background-color: aliceblue;
  padding: 14px;
  flex-wrap: wrap;
  width: 32%;
  transition: 0.1s ease-in-out;
  text-align: center;
  border-radius: 2px;

  img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    padding: 16px;
  }
}

.subimagem:hover {
  box-shadow: 0 0 10px #86b92dda;
}
.container-botaofinal {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.botaofinal {
  font-size: large;
  border: none;
  background-color: #020202da;
  padding: 10px 18px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  margin-top: 30px;
  color: #86b92dda;

  i {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    top: 1px;
    transition: 1s ease-in-out;
  }
}

.botaofinal:hover {
  transform: scale(1.025);
  background-color: #86b92dda;
  color: black;
  i {
    transform: rotateY(360deg);
  }
}
/* ---- C E L U L A R ------ */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    width: 100%;
    align-items: center;
  }
  .container-meio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
  }

  .opcoes {
    flex-direction: column;
    align-items: left;
    gap: 12px;
    padding: 8px;
  }

  .subimagem-pai {
    flex-direction: column;
    margin: 20px;
  }
  .subimagem {
    width: 100%;
  }

  .imagem-moto {
    height: 300px;
  }
  .logo {
    width: 220px;
    margin-bottom: 20px;
  }
  .ofertas {
    margin: 0px;
  }
  .ofertas2 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .ofertas2::before,
  .ofertas2::after {
    content: "";
    display: block;
    flex: 1;
    background-color: #86c92894;
    height: 2px;
    margin: 12px;
    filter: blur(1px);
    border-radius: 600px;
  }
  .opcoes-de-cima {
    align-items: center;
    justify-content: center;
  }
}
